:root {
  --size: 300px;
}

.main-container {
  width: calc(var(--size) *2);
  height: var(--size);
  background-color: rgb(255 255 255);
  display: flex;
  justify-content: start;
  align-items: flex-start;
  margin: 40px;
}

.square {
  width: var(--size);
  height: var(--size);
  background-color: rgb(85 80 80);
  border: 1px solid black;
  z-index: 2;
  background-image: url(img/photo.jpg);
  background-size: cover;
}

.disk {
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: rgb(0 0 0);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-20px);
  background-image:
    linear-gradient(130deg, transparent 40%, #fff5, transparent:60%),
    repeating-radial-gradient(circle at center, #333 0 1px, black 1px 20px);
}

.diskround {
  --round-size: calc(var(--size)/3);

  width: var(--round-size);
  height: var(--round-size);
  background-color: rgb(255 0 0);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.diskinto {
  --into-size: calc(var(--size)/9);

  width: var(--into-size);
  height: var(--into-size);
  background-color: rgb(255 255 255);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
